

  .search-form {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    .mat-mdc-form-field {
      display: flex;
      width: 80%;
    }
  }


  @media screen and (max-width: 650px) {
    .search-form {
      display: block;

      .mat-mdc-form-field {
        width: 100%;
      }
    }

  }

